.line-div{
    background-color:aliceblue;
    padding:3%;
    padding-inline:7%;
    border-radius:20px;
    margin-top:2ch;
    margin-bottom:2ch;
}
.line-number{
    font-size: 2.5ch;
}
.items{
    display:flex;
    justify-content:space-between;
}
.line-name, .line-num {
    width: 45%;
}