@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    .name-list{
        background-color:aliceblue;
        width:15vw;
        margin:1ch;
        margin-left:0;
        padding:1ch;
        padding-left:3ch;
        border-radius:10px;
    }
    .name-list li{
        margin:1ch;
    }
</style>
<h1>@ViewData["Title"]</h1>
<h2>Data Structures & Algorithm Analysis</h2>
<h3>Assignment on city bus network. Design and start-up code</h3>
<h6>Group Members</h6>
<ul class="name-list">
    <li>Anobie Tesfaye</li>
    <li>Etsub Fikreab</li>
</ul>
